<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @article.title %></h1>
    <p><%= @article.body %></p>
    <p><%= link_to "<< Back to Articles List", articles_path %></p>
    <p><%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}%></p>
    <p><%= link_to "Edit", edit_article_path(@article) %></p>
  </body>
</html>
